table, th, td {
  
  background-color: Blue;
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
p {
  border: 1px solid powderblue;
  padding: 30px;
}
p {
  border: 1px solid powderblue;
}
a { font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
  padding: 2px 1px 1px 16px; }
