table, th, td {
  width: 100%; 
  background-color: black;
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
p {
  border: 1px solid powderblue;
  padding: 30px;
}
p {
  border: 1px solid powderblue;
}
